body{
    margin:0;
    padding: 0;
    
}
header{
   margin:0;
    padding: 0;
}
/*CSS Template Painel*/
 
.botaoListar a{
	color: #696969	;
	text-decoration: none;
	font-size: 20px;
	font-family: Trebuchet MS, sans-serif;
	font-weight: bold;
	background-color: #fff; 
}

.botaoListar{
	border-radius: 20px;
	border-color: #fff;
	background-image:url("");
	background-color: #fff; 
	width: 240%;
	height: 8%;
}


.botaoLayout a{
	color: #696969;
	text-decoration: none;
	font-size: 20px;
	font-family: Trebuchet MS, sans-serif;
	font-weight: bold;
	background-color: #fff; 

}


.botaoLayout{
	border-radius: 20px;
	margin-top: 50px;
	border-color: #fff;
	background-color: #fff; 
	width: 240%;
	height: 8%;
}

.botaoLayout2 a{
	color: #696969;
	text-decoration: none;
	font-size: 20px;
	font-family: Trebuchet MS, sans-serif;
	font-weight: bold;
	background-color: #fff; 

}


.botaoLayout2{
	border-radius: 20px;
	margin-top: 50px;
	border-color: #fff;
	background-color: #fff; 
	width: 240%;
	height: 8%;
}


.botaoPerfil a{
	color: #696969;
	text-decoration: none;
	font-size: 20px;
	font-family: Trebuchet MS, sans-serif;
	font-weight: bold;
	background-color: #fff; 
}

.botaoPerfil{
	border-radius: 20px;
	margin-top: 50px;
	background-color: #fff; 
	width: 240%;
	height: 8%;
	text-decoration: none;
	border-radius: 20px;
}

.botaoSair a{
	text-decoration: none;
	background-color: #fff
	font-family: Trebuchet MS, sans-serif;
	font-weight: bold;
}


.botaoSair {
	height: 5%;
	width: 30%;
	border-radius: 20px;
	background-color: #fff;
}

#lateral3{
	background-color: #A75B56;
	display: flex;
	flex-direction: column;
	height: 100%; 
	justify-content: space-around;
	padding-bottom: 100px;
	margin-top: 50px;
	position: fixed;
	width: 250px;

}






#inteiro{
	display: flex;
}

#lateral{
	width: 100px;
}

#horizontal{
	background-color: #A75B56	;
	width: 100%;
	height:50px;
	position: fixed;
}

#pagina{
	margin-top: 100px;
	margin-left: 250px;
	width: 78%;
}

.modal-body form{
	display: flex;
	flex-direction: column;
}
.modal-body form img{
	max-width: 100px;
	max-height: 150px;
	cursor: pointer;
}



.tabela-produtos td img{
	max-width: 100px;
	max-height: 150px;
}
<<<<<<< HEAD

h1{
	color: white;
	font-family: Trebuchet MS, sans-serif;
	font-weight: bold;
	margin-top: -0.2px;
}

.glyphicon.glyphicon-th-list{
	color:#FF8C00;
}

.glyphicon.glyphicon-th{
	color:#FF8C00;
}

.glyphicon.glyphicon-file{
	color:#FF8C00;
}


.glyphicon.glyphicon-user{
	color:#FF8C00;
}

.glyphicon.glyphicon-off{
	color:#FF0000	;
}

=======
.titulo-produtos{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 100px;
	align-items: center;
}
.botoes{
	font-size: 20px;
	max-height: 40px;
}
>>>>>>> 5ed8958694e05f785114996e0c4250d3d9d66de8
